@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}
